scanpy
jupyterlab
langchain
loguru
mypy
markdown
numpy
pandas
polars
pytest
jupyter-lsp
jupyter-lsp-python
r-assertthat
r-backports
r-essentials
r-base
r-base64enc
r-biocmanager
r-brew
r-callr
r-codetools
r-collections
r-commonmark
r-cpp11
r-crayon
r-cyclocomp
r-desc
r-devtools
r-digest
r-ellipsis
r-evaluate
r-fansi
r-fastmap
r-fs
r-glue
r-highr
r-htmltools
r-jsonlite
r-knitr
r-languageserver
r-lazyeval
r-lifecycle
r-lintr
r-magrittr
r-pillar
r-pkgbuild
r-pkgconfig
r-pkgload
r-prettyunits
r-processx
r-ps
r-purrr
r-r.cache
r-r.methodss3
r-r.oo
r-r.utils
r-r6
r-rematch2
r-remotes
r-repr
r-rex
r-rlang
r-roxygen2
r-rprojroot
r-soupx # appears to require manual install despite being on this list
r-stringi
r-stringr
r-styler
r-tibble
r-utf8
r-vctrs
r-withr
r-xfun
r-xml2
r-xmlparsedata
r-yaml
ruff
scikit-learn
scipy
seaborn
seaborn-base
sqlalchemy
statsmodels
yaml
pip
